<div class="well", id="tasks_<%=task.id %>"> 


	<% if task.state == "doing" %>
		<%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, change_task_path(task, state: "to_do"), method: :put, remote: true, class: "center-arrow-left" %>
		<%= link_to "<i class='fa fa-arrow-right'></i>".html_safe, change_task_path(task, state: "done"), method: :put, remote: true, class: "center-arrow-right" %>
	<% elsif task.state == "done" %>
		<%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, change_task_path(task, state: "doing"), method: :put, remote: true, class: "center-arrow-left" %>
	<% else %>
		<%= link_to "<i class='fa fa-arrow-right'></i>".html_safe, change_task_path(task, state: "doing"), method: :put, remote: true, class: "center-arrow-right" %>
	<% end %>

	<div class="panel panel-default"> 
		<div class="panel-heading">
			<%= link_to "<i class='fa fa-pencil fa-2x'></i>".html_safe, edit_task_path(task), remote: true, class: "pull-left" %>




			<%= link_to "<i class='fa fa-trash-o fa-2x'></i>".html_safe, task_path(task), remote: true, method: :delete, data: {confirm: "Are you sure?"}, class: "pull-right" %>
			<p class="text-center">created <%= time_ago_in_words(task.created_at) %> ago</p>
		</div>



		<div class="panel-body fixed-panel"><%= raw(task.content_html) %></div>





		<div class="panel-footer text-center">

		</div>

	</div>





</div><!-- closing of well -->