
<div class="row">
  <div class="col-md-4 tasks", id="tasks_to_do">
    <h1 class="text-center">To Do</h1>

    <div class="panel panel-default"> 
      <div class="panel-heading new-task text-center">
        <%= link_to "<i class='fa fa-plus-circle fa-4x'></i>".html_safe, new_task_path, remote: true, class: "" %>
      </div>
    </div>




      <%= render @to_do %>
  </div>

  <div class="col-md-4", id="tasks_doing">
    <h1 class="text-center">Doing</h1>
    <%= render @doing %>
  </div>

  <div class="col-md-4"id="tasks_done">
    <h1 class="text-center">Done</h1>
    <%= render @done %>
  </div>
</div><!-- end of row class -->

<br>


<%= render 'dialog' %>
