<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
		<h2 class="text-center">Log in</h2>
    <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Email", input_html: {class: "form-control"} %>
    <%= f.input :password, required: true, label: false, placeholder: "Password", input_html: {class: "form-control"}  %>

    <%= f.button :submit, "Log in", class: "btn btn-primary btn-block" %><br />

    <%- resource_class.omniauth_providers.each do |provider| %>
    	<%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), class: "btn btn-primary btn-block" %><br />
		<% end -%>
		<%= link_to "Sign up", "#", class: "btn btn-primary btn-block change_form" %><br />

<% end %>


